{% extends "base.html" %}

{% block content %}
		<form class="form-horizontal row" action="/contact_list" method="POST">
			{% csrf_token %}

			<div class="input-group">
				<label class="input-group-text">Search</label><input name="query">
				<input type="submit" value="Search">
			</div>

		</form>
		<a href="/contact">Add contact</a>
		<table class="table">
			<tr><th>Name</th><th>Email</th><th>Phone</th><th>Position</th><th>Promoter</th></tr>
			{% for contact in contacts %}
			<tr><td>{{contact.name}}</td><td>{{contact.email}}</td><td>{{contact.phone}}</td><td>{{contact.position}}</td><td>{{contact.promoter}}</td></tr>
			{% endfor %}
			</table>
			{%endblock%}
