{% extends "base.html" %}

{% block content %}
		<form class="form-horizontal row" action="/contact_list" method="POST">
			{% csrf_token %}

			<div class="input-group">
				<label class="input-group-text">Search</label><input class="form-control" name="query">
				<input type="submit" class="btn btn-sm btn-secondary" value="Search">
			</div>

		</form>
		<a type="button" class="btn btn-sm btn-secondary" href="/contact">Add contact</a>
		<table class="table table-sm table-responsive">
			<tr><th>ID</th><th>Name</th><th>Email</th><th>Phone</th><th>Position</th><th>Promoter</th><th>Notes</th></tr>
			{% for contact in contacts %}
			<tr><td><a href="/contact/{{contact.id}}">{{contact.id}}</a><td><a href="/contact/{{contact.id}}">{{contact.name}}</a></td><td><a href="/contact/{{contact.id}}">{{contact.email}}</a></td><td><a href="/contact/{{contact.id}}">{{contact.phone}}</a></td><td><a href="/contact/{{contact.id}}">{{contact.position}}</a></td><td><a href="/contact/{{contact.id}}">{{contact.organization}}</a></td><td><a href="/contact/{{contact.id}}">{{contact.notes}}</a></td></tr>
			{% endfor %}
			</table>
			{%endblock%}
