{% extends 'base.html' %}
{% load has_group %}
{% load static %}
{% block content %}
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-10 justify-content-center">
	<form class="form-horizontal" method="post" enctype="multipart/form-data">
		{{form.event_type}}
		{% csrf_token %}
			<table class="table table-sm table-responsive table-borderless">
		{{ formset.management_form }}
		<tr><td></td><td>Engagement type</td><td>Title</td><td>Start date</td><td>End date</td><td>Note</td><td style="display: none" id="fee-header">Fee</td><td></td></tr>
		{% for form in formset %}
		<div>
				<tr class="dataset">
					<td>{{form.id}}</td>
					<td>{{form.engagement_type}}</td>
					<td>{{form.title}}</td>
					<td onchange="correct_date()">{{form.start_date}}</td>
					<td>{{form.end_date}}</td>
					<td>{{form.note}}</td>
					<td><div class="input-group formset-fee" style="display: none">{{form.fee}}<span class="input-group-text" style="padding:0">{{form.currency}}</span></div></td>
					<td><button class="btn btn-sm btn-secondary" type="button" onClick="add_dataset('id_calendarevent_set-TOTAL_FORMS')">+</button>
						<button type="button" class="btn btn-sm btn-secondary" onClick="remove_dataset('id_calendarevent_set-TOTAL_FORMS', this)">-</button></td></tr>
		</div>
		{% endfor %}
			</table>
		<table class="table table-sm table-responsive table-borderless primafila-table">
			<tr><td>Title</td><td>Opera</td><td>Role</td></tr>
			<tr><td>{{form.title}}</td><td>{{form.opera}}</td><td>{{form.role}}</td></tr>
			<tr><td>Status</td><td>Artist</td><td>Regie</td></tr>
			<tr><td>{{form.status}}</td><td>{{form.artist}}</td><td>{{form.regie}}</td></tr>
			<tr><td>Promoter</td><td>City</td><td>Dirigent</td></tr>
			<tr><td>{{form.promoter}}</td><td>{{form.city}}</td><td>{{form.dirigent}}</td></tr>
			<tr><td>Contact</td><td>Fee</td><td>History</td></tr>
			<tr><td>{{form.contact}}</td><td><div class="input-group">{{form.fee}}<span class="input-group-text" style="padding: 0">{{form.fee_currency}}</span></div>
					<p style="justify-content: space-between; display: flex"><span onclick="split_fee()">{{form.calculated_fee}} all in</span><span onclick="individual_fee()">{{form.individual_fee}} individual fee</span></p>
					<div class="input-group indifee" style="display: none">{{form.travel_fee}}<span class="input-grop-text" style="padding: 0">{{form.travel_fee_type}}</span></div>
					<div class="input-group indifee" style="display: none">{{form.accomodation_fee}}<span class="input-grop-text" style="padding: 0">{{form.accomodation_fee_type}}</span></div>
				</td><td>
					<p>{{form.contract_requested}} contract requested {{event.contract_requested_details}}
					<p>{{form.contract_received}} contract received {{event.contract_received_details}}
					<p>{{form.contract_sent_artist}} contract sent to the artist {{event.contract_sent_to_artist_details}}
					<p>{{form.contract_signed_artist}} contract signed by the artist {{event.contract_signed_artist_details}}
					<p>{{form.contract_sent_promoter}} contract sent to the promoter {{event.contract_sent_to_promoter_details}}
					<p>{{form.contract_signed_promoter}} contract signed by the promoter {{event.contract_signed_promoter_details}}
					<p>{{form.invoice_sent}} invoice sent {{form.invoice_send_details}}
				</td></tr>
		</table>
		<table class="table table-sm table-borderless table-responsive">

				<tr><td>Notes</td><td>Inner notes</td></tr>
				<tr><td>{{form.artist_notes}}</td><td>{{form.inner_notes}}</td></tr>
				<tr><td>Files</td><td>Inner files</td></tr>
				<tr><td>
		{{af_formset.management_form}}
		<div style="display: inline-flex"><table class="table table-responsive table-sm table-borderless">
		{% for af_form in af_formset %}
				<tr class="af_dataset">
					<td>{{af_form.id}}</td>
					<td>{{af_form.file}}</td>
					<td><button class="btn btn-sm btn-secondary" type="button" onClick="add_dataset('id_artistfiles_set-TOTAL_FORMS', 'af_dataset')">+</button>
						<button type="button" class="btn btn-sm btn-secondary" onClick="remove_dataset('id_artistfiles_set-TOTAL_FORMS', this)">-</button></td></tr>
				{% endfor %}
			</table>
		</div>
		</td><td>
			{{if_formset.management_form}}
			<div style="display: inline-flex"><table>
			{% for if_form in if_formset %}
				<tr class="inner_dataset">
					<td>{{if_form.id}}</td>
					<td>{{if_form.file}}</td>
					<td><button class="btn btn-sm btn-secondary" type="button" onClick="add_dataset('id_innerfiles_set-TOTAL_FORMS', 'inner_dataset')">+</button>
						<button type="button" class="btn btn-sm btn-secondary" onClick="remove_dataset('id_innerfiles_set-TOTAL_FORMS', this)">-</button></td></tr>
			{% endfor %}	
				</table></div>
		</td></tr>
		</table>
				<button type="submit" class="btn btn-sm btn-secondary">Submit</button>
	</form>
</div>
<div class="col-md-1"></div>
</div>
<script>
	function split_fee() {
		var calculated_fee = document.getElementById("id_calculated_fee");
			var splitter = document.getElementsByClassName("indifee");
		if (calculated_fee.checked == true) {
			for (var i = 0; i < splitter.length; i++) {
				splitter[i].style.display = "none";
				splitter[i].childNodes.forEach(node => {
					node.value = "";
				});
			}
		}
		else {
			for (var i = 0; i < splitter.length; i++) {
				splitter[i].style.display = "inline-flex";
			}
		}}
	function individual_fee() {
		var individual_fee = document.getElementById("id_individual_fee");
		var splitter = document.getElementsByClassName("formset-fee");
		var head = document.getElementById("fee-header");
		if (individual_fee.checked == true) {
			head.style.display = "inline";
			for (var i = 0; i < splitter.length; i++) {
				splitter[i].style.display = "inline-flex";
			}
		}
		else {
			head.style.display = "none";
			for (var i = 0; i < splitter.length; i++) {
				splitter[i].style.display = "none";
				splitter[i].childNodes.forEach(node => {
					node.value = "";
				});
			}
		}
	}
	function get_contact() {
			var prom_value = document.getElementById("id_promoter").value;
			const url = "/get_contact?promoter="+prom_value;
			fetch(url)
			.then((resp) => resp.json()).then(function(data) {
				var role_list = document.getElementById("contact");
				role_list.innerHTML = "";
				for (var i = 0; i < data.length; i++) {
					var option = document.createElement("option");
					option.value = data[i].name;
					role_list.appendChild(option);
				}
			});
			document.getElementById("id_contact").value = "";
		};
	function get_role() {
			var opera_value = document.getElementById("id_opera").value;
			const url = "/get_roles?opera="+opera_value;
			fetch(url)
			.then((resp) => resp.json()).then(function(data) {
				var role_list = document.getElementById("role");
				role_list.innerHTML = "";
				for (var i = 0; i < data.length; i++) {
					var option = document.createElement("option");
					option.value = data[i].name;
					role_list.appendChild(option);
				}
			});
			document.getElementById("id_role").value = "";
		};
	function individual_onload() {
		split_fee();
		individual_fee();
		document.getElementById("id_opera").addEventListener("change", get_role);
		document.getElementById("id_promoter").addEventListener("change", get_contact);
	}
	</script>
	{% endblock %}
