{% extends "base.html" %}
{% block content %}
	<table class="table-calendar"><thead><tr>
				{% for period in periods %}
				<th class="calendar_date"></th>
				<th class="calendar_event" text-align="center">{{period}}</th>
				{% endfor %}
			</tr></thead><tbody>
					{% for item in data %}
					<tr>
						{% for tuple in item %}
						{% with weekday=tuple.term|date:"w" %}
						<td class="calendar_date td-calendar" {% if weekday == "0" %}style="color: red"{%endif%}{%endwith%}>{{tuple.term|date:"d"}}<br>{{tuple.term|date:"l"|slice:":2"}}</td><td id="{{tuple.term|date:'c'}}" class="calendar_event td-calendar">{% for event in tuple.events %}
							<p class={{event.status}}><a href="/edit_event?id={{event.event_id}}">{{event.event_title}}</a></p>
						{% endfor %}</td>
						{% endfor %}
					</tr>
				{% endfor %}
				</tbody>
		</table>
     </div>
     <div class="menu">
	     <p><a class="menu-option" id="menu-travel" href="">Travel</a></p>
	     <p><a class="menu-option" id="menu-other" href="">Other</a></p>
	     <p><a class="menu-option" id="menu-engagement" href="">Engagement</a></p>
</div>
{% endblock %}
