{% extends 'base.html' %}
{% block content %}
		<form class="form-horizontal row" method="POST">
			{% csrf_token %}
			<div class="mb-3 input-group">
				<label class="input-group-text">Opera:</label><input list="opera_list" class="form-control" type="text" id="opera" name="opera">
				<datalist id="opera_list">
				{% for opera in all_operas %}
				<option value="{{opera.title}}">{{opera.name}}</option>
				{% endfor %}
				</datalist>
			</div>
			<div class="mb-3 input-group">
				<label class="input-group-text">Role:</label><input list="roles_list" class="form-control" type=text id="role" name="role">
				<datalist id="roles_list">
				{% for role in all_roles %}
				<option value="{{role.name}}">{{role.name}}</option>
				{% endfor %}
				</datalist>
			</div>
			<div class="mb-3 input-group">
				<label class="input-group-text">Promoter:</label><input list="promoter_list" class="form-control" type=text id="promoter" name="promoter"/>
				<datalist id="promoter_list">
				{% for promoter in all_promoters %}
				<option value="{{promoter.name}}">{{promoter.name}}</option>
				{% endfor %}
				</datalist>
			</div>
				<input type="submit" value="Search">

		</form>
		<table class="table table-sm table-responsive">
			<tr><th>Artist</th><th>Date</th><th>Promoter</th><th>Status</th><th>Role</th><th>Opera</th><th>Fee</th></tr>
			{% for event in results %}
			<tr><td>{{event.event.artist}}</td><td>{{event.date}}</td><td>{{event.event.promoter}}</td><td>{{event.status}}</td><td>{{event.event.role}}</td><td>{{event.event.opera}}</td><td>{{event.event.fee}}</td></tr>
			{% endfor %}
			</table>
			{%endblock%}
