{% extends 'base.html' %}
{% load has_group %}
{% load static %}
{% block content %}
	<form class="form-horizontal" method="post">
		{% csrf_token %}
		{{ formset.management_form }}
		{% for form in formset %}
		<div class="col">
			<p class="dataset input-group">
			{{form.id}}
			{{form.travel_type}}
			{{form.start_date}}
			{{form.end_date}}
			{{form.note}}
				<span class="input-group-text" onClick="add_dataset()">+</span>
			<span class="input-group-text" type="button" onClick="remove_dataset()">-</span></p>
		</div>
		{% endfor %}
		{{ form.as_p }}
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
	{% endblock%}
